
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}


@supports (-webkit-appearance: none) {
  .image-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@supports (-ms-ime-align: auto) {
  .image-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


  .list-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .list-image:hover {
    transform: scale(1.05);
  }
  
  .divv {
    max-width: 70vw;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .footwear-recommendation {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .image-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .image-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .cart-icon {
    position: absolute;
    bottom: 10px;
    right: 0px;
    cursor: pointer;
  }
  
  .cart-icon-image {

    width: 40px;
    height: 40px;
  }
  
  .cart {
    margin-top: 30px;
  }
  
  .cart h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cart-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .remove-button {
    margin-left: auto;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #e60000;
  }
  
  .list-image:focus {
    outline: 2px solid #ff8c00; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
}


.image-card:focus {
    outline: 2px solid #ff8c00; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}